body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.clicker-box{
  display: flex;
  border-radius: 2px;
  border: 3px solid rgb(1, 80, 1);
  width: 50%;
  height: 25rem;
  background-color: green;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.clicker-box:click{
  background-color: rgb(45, 87, 45);
}

.click-words{
  font-size: 35px;
}

.score-box{
  font-size: 35px;
  margin-left: 10px;
  border: 3px solid rgb(119, 219, 119);
  width: 50rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.new-plants{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}

.plant-box{
  width: 5rem;
  height: 2.5rem;
  font-size: 20px;
  border: 3px solid rgb(119, 219, 119);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.plant-text{
  color: green;
}